<h4>Agregar personaje</h4>
  <!--aqui el ngsubmit es para cuando envie el fomrulario no lo pongo en boton porque no es tan eficiente-->
    <form action="" class="row" (ngSubmit)="emitCharacter()" >
      <input type="text" [(ngModel)]="character.name" name="name" class="form-control mb-2"  placeholder="Nombre del personaje">
      <!--el ngmodel es para recibir los parametros del fomr y guardarlo en mis atributos-->
      <input type="number" [(ngModel)]="character.power" name="power" class="form-control mb-2" placeholder="Poder">
      <!--invesitgar towdatabinig o algo asi-->
      <button class="btn btn-primary" type="submit"  >
        Agregar
      </button>

    <!--  <pre>{{character | json }}</pre> -->
    </form>
